.leaderboard {
	width: 50%;
    max-width: 600px;
    margin: auto;
    text-align: center;
	float:left;
}

.rank-1-6 {
    background-color: gold; /* Gold for ranks 1-6 */
    color: #000; /* Black text */
}

.rank-7-30 {
    background-color: #C0C0C0; /* Silver for ranks 7-30 */
    color: #000; /* Black text */
}

.rank-31-100 {
    background-color: #cd7f32; /* Bronze for ranks 31-100 */
    color: #000; /* Black text */
}

.rank-101-300 {
    background-color: #008000; /* Green for ranks 101-300 */
    color: #FFF; /* White text */
}

.rank-300-plus {
    background-color: #0000FF; /* Blue for ranks 300+ */
    color: #FFF; /* White text */
}

.players-list {
    list-style: none;
    padding: 0;
}

.players-list li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 1s, color 1s; /* Added color transition */
}

.players-list li.updated {
    background-color: #FF4500; /* Orange red for updated players */
    color: #FFF; /* White text */
}

.movements {
	width: 50%;
    max-width: 600px;
    margin: auto;
    text-align: center;
	float:left;
}

.gold {
    color: #FFD700; /* Gold */
}

.silver {
    color: #C0C0C0; /* Silver */
}

.bronze {
    color: #cd7f32; /* Bronze */
}